*{
    margin: 0;
    padding: 0;
    background: fixed;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: rgb(71, 38, 71);
  }
  #animate {
    width: 100px;
    height: 100px;
    position: absolute;
    background: rgb(91, 75, 56);
  }